<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Authorization</servlet-name>
        <servlet-class>soa.servlets.AuthorizationServlet</servlet-class>
        <init-param>
            <param-name>correctLogin</param-name>
            <param-value>myLogin</param-value>
        </init-param>
        <init-param>
            <param-name>correctPassword</param-name>
            <param-value>myPassword</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authorization</servlet-name>
        <url-pattern>authorize</url-pattern>
    </servlet-mapping>
</web-app>